APP_URL=https://amz-retail.tnsoft.eu
APP_DEBUG=false
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your@gmail.com
SMTP_PASS=xxxx xxxx xxxx xxxx
SMTP_FROM=your@gmail.com
SMTP_FROM_NAME=AMZ Retail
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_SHEET_ID=
FIREBASE_PROJECT_ID=
FIREBASE_DATABASE_URL=
FIREBASE_SECRET=
